body{
    background-color:#FFE4C4;
    text-align: center;
    overflow-y: scroll;
    margin-bottom: -150px;
  }
  /*https://www.tutorialspoint.com/Is-it-possible-to-have-an-HTML-canvas-
  element-in-the-background-of-my-page Used this website to help 
  learn about canvas
  */
  canvas{
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
 }
  div.NavBar{
    margin-top:20px;
  }
  
  .NavBar {
    background-color: #FFE4C4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .NavBar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .NavBar a:hover {
    background-color: burlywood;
    color: black;
    text-align: center;
  }
  
  /* Add a color to the active/current link */
  .NavBar a.active {
    background-color: rgb(78, 51, 18);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    border: 3px solid rgb(78, 51, 18);
    display:inline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
  }
  .topText{
    text-align: center;
    font-size: large;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    Just an example of the importance of div as you can manipulate only certain elements with the same commong tags like <p> or <h1>
    */
  }
  p{
    text-align: center;
    font-size: large;
  }
  
  /*p::first-letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
  }*/
  
  .ProfilePic img {
    width: 350px;
    margin-left: auto;
    margin-right:auto;
  }
  .displayblock{
    text-align: center;
    padding: 10px;
  }
  .style{
    font-size: 1000px;
  }
  .displayblock li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  .footer {
    left:0px;
    bottom:0px;
    height: 150px;
    width:100%;
    background-color:rgb(66, 42, 12);
    color: #FFE4C4;
    clear: both;
  }
  /*
  .leftText{
    float: left;
    margin-left: 200px;
  }*/