body{
    background-color:#FFE4C4;
    text-align: center;
    overflow: scroll;
    margin-bottom: -175px;
  }
  div.NavBar{
    margin-top:20px;
  }
  
  .NavBar {
    background-color: #FFE4C4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .NavBar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .NavBar a:hover {
    background-color: burlywood;
    color: black;
    text-align: center;
  }
  
  /* Add a color to the active/current link */
  .NavBar a.active {
    background-color: rgb(78, 51, 18);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    border: 3px solid rgb(78, 51, 18);
    display:inline;
    
  }
  p{
    text-align: center;
    font-size: large;
  }
  .ProfilePic{
    text-align: center;
    width: 300;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  .displayblock{
    text-align: center;
    padding: 10px;
  }
  .displayblock li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  .footer {
    left:0px;
    bottom:0px;
    height: 150px;
    width:100%;
    background-color:rgb(66, 42, 12);
    color: #FFE4C4;
    clear: both;
  }